<h1>Admin </h1>

<ul class="list-group">
	<li class="list-group-item active">
		Users
	</li>
	<li class="list-group-item" ng-repeat="user in model.users">
	{{user.username}}
	<input ng-model="user.roles" type="text"/>
	<span ng-click="model.updateUser(user)" class="glyphicon glyphicon-ok pull-right"></span>
	<span ng-click="model.deleteUser(user)" class="glyphicon glyphicon-remove pull-right"></span>
	<!--<button ng-click="model.deleteUser(user)" class="btn btn-danger btn-block">Delete</button>-->
	
	</li>
</ul>